<h3 class="text-info quickstatpanel-title">{{ aResponse.title }}</h3>
<table class="quickstat-table quickstat-table-satisfaction table table-bordered table-striped">
  <colgroup>
    <col class="quickstat-col-answer">
    <col class="quickstat-col-population">
    <col class="quickstat-col-satisfaction">
  </colgroup>
  <thead>
    <tr class="quickstat-header info">
      <td class="answer-text"></td>
      <th class="quickstat-population text-center">{{ lang["Responses"] }}</th>
      <th class="quickstat-satisfaction text-center">{{ lang["Satisfaction"] }}</th>
    </tr>
  </thead>
  <tbody>
  {% for aData in aResponse.datas %}
    <tr>
      <th class="answer-text">{{ aData.title }}</th>
      <td class="quickstat-population text-center">{{ aData.count }}</td>
      <td class="quickstat-satisfaction text-center" title="{{ aData.average }}">{% if aData.average %}{{ aData.average|number_format(2) }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>