{% set lang = aStatPanel.language %}

<h1 class="text-primary quickstatpanel-title{% if(strpos("#" ~ aSurveyInfo.class.body, 'fruity_twentythree')) %} h4{% endif %}">{{ aStatPanel.titre }}</h1>
<ul class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="{{ createUrl(
            "plugins/direct",
             ({
                'plugin' : aStatPanel.className,
                'function' : 'participation',
                'sid' : aSurveyInfo.sid
             })
            ) }}"
        >{{ lang["Participation"] }} </a>
    </li>
    <li class="nav-item"role="presentation">
        <a class="nav-link active" href="#">{{ lang["Satisfaction"] }} </a>
    </li>
  {% if aStatPanel.showAdminSurvey %}
    <li class="nav-item" role="presentation">
        <a class="nav-link" href="{{ createUrl(
            "surveyAdministration/view",
             ({
                'plugin' : aStatPanel.className,
                'function' : 'satisfaction',
                'sid' : aSurveyInfo.sid
             })
            ) }}"
        >{{ lang["Administration"] }} </a>
    </li>
  {% endif %}
</ul>
{% if aStatPanel.htmlComment %}
    <div class="card card-body bg-light  clearfix">{{ aStatPanel.htmlComment }}</div>
{% endif %}
{% for iSatId, aSatisfaction in aStatPanel.aReorderSatisfactions %}
<div class="card mt-1">
  <div class="card-header text-white bg-primary quickstatpanel-title">
    <h2 class="quickstat-panel-title{% if(strpos("#" ~ aSurveyInfo.class.body, 'fruity_twentythree')) %} h4{% endif %}">{{ aSatisfaction.title }}</h2>
  </div>
  <div class="card-body">
  {% for repKey, aResponse in aSatisfaction.aResponses %}
      {% if aResponse.type == 'table' %}
        {% include './subviews/quickstatpanel/statpanel_satisfaction_table.twig' with {
            'repKey' : repKey,
            'iSatId' : iSatId,
            'aResponses' : aResponse,
            'className' : aStatPanel.className
        } %}
      {% endif %}
      {% if aResponse.type == 'graph' %}
        {% include './subviews/quickstatpanel/statpanel_satisfaction_graph.twig' with {
            'repKey' : repKey,
            'iSatId' : iSatId,
            'aResponses' : aResponse,
            'className' : aStatPanel.className
        } %}
      {% endif %}
  {% endfor %}
  </div>
</div>
{% endfor %}
