{% set lang = aStatPanel.language %}

<h1 class="text-primary quickstatpanel-title{% if(strpos("#" ~ aSurveyInfo.class.body, 'fruity_twentythree')) %} h4{% endif %}">{{ aStatPanel.titre }}</h1>
<ul class="nav nav-tabs">
  <li role="presentation" class="nav-item"><a class="nav-link active" href="#">{{ lang["Quota report"] }}</a></li>
  {% if aStatPanel.showSatisfaction %}
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{{ createUrl(
            "plugins/direct",
             ({
                'plugin' : aStatPanel.className,
                'function' : 'satisfaction',
                'sid' : aSurveyInfo.sid
             })
            ) }}"
        >{{ lang["Satisfaction"] }} </a>
    </li>
  {% endif %}
  {% if aStatPanel.showAdminSurvey %}
    <li role="presentation" class="nav-item">
        <a class="nav-link" href="{{ createUrl(
            "admin/pluginhelper",
             ({
                'plugin' : aStatPanel.className,
                'method' : 'actionSettings',
                'surveyId' : aSurveyInfo.sid,
                'sa' : 'sidebody'
             })
            ) }}"
        >{{ lang["Administration"] }} </a>
    </li>
  {% endif %}
       <li role="participation" class="nav-item">
        <a class="nav-link" href="{{ createUrl(
            "plugins/direct",
             ({
                'plugin' : aStatPanel.className,
                'function' : 'participation',
                'sid' : aSurveyInfo.sid
             })
            ) }}"
        >{{ lang["Participation"] }} </a>
    </li>
</ul>

<div class="card mt-1">
  <div class="card-header text-white bg-primary quickstatpanel-title">
    <h2 class="quickstat-panel-title{% if(strpos("#" ~ aSurveyInfo.class.body, 'fruity_twentythree')) %} h4{% endif %}">{{ lang["Quota report"] }}</h2>
  </div>
  <div class="card-body">
    {% for key,aQuota in aStatPanel.aQuotas %}
       <table class="quickstat-table quickstat-table-participation quickstat-table-quota-{{ key }} table table-bordered table-striped table-hover">
          <colgroup class="quickstat-col-answer" span="{{ aQuota.colcount }}"></colgroup>
          <col class="quickstat-col-completed">
          <col class="quickstat-col-limit">
          {% if aQuota.canedit > 0 %}<col class="quickstat-col-edit">{% endif %}
          <thead>
            <tr class="quickstat-header table-info">
              <th scope="colgroup" width="50%" class="quickstart-col-answer text-right" colspan="{{ aQuota.colcount }}">{{ aQuota.name }}</th>
              <th scope="col" class="quickstat-col-completed text-right">Completed</th>
              <th scope="col" class="quickstat-col-limit text-right">Limit</th>
              {% if aQuota.canedit > 0 %}<th scope="col" class="quickstat-col-edit text-right">Actions</th>{% endif %}
            </tr>
        </thead>
        <tbody>
          {% for qkey,aQuotaRow in aQuota.rows %}
          <tr>
              {% for i in range(1,aQuota.colcount) %}
                  <td class="answer-text control-label" {% if aQuotaRow.completed > aQuotaRow.limit %}style="background-color:pink"{% endif %} {% if aQuotaRow.active < 1 %}style="color:lightgray"{% endif %}>{{ aQuotaRow.cols[i - 1] }}</td>
              {% endfor %}
              <td class="quickstat-completed text-right" {% if aQuotaRow.completed > aQuotaRow.limit %}style="background-color:pink"{% endif %} {% if aQuotaRow.active < 1 %}style="color:lightgray"{% endif %}>{{ aQuotaRow.completed }}</td>
              <td class="quickstat-limit text-right" {% if aQuotaRow.completed > aQuotaRow.limit %}style="background-color:pink"{% endif %} {% if aQuotaRow.active < 1 %}style="color:lightgray"{% endif %}>{{ aQuotaRow.limit }}</td>
              {% if aQuota.canedit > 0 %}<td class="quickstat-edit text-right" {% if aQuotaRow.completed > aQuotaRow.limit %}style="background-color:pink"{% endif %}>{% if aQuotaRow.active < 1 %}<a href="{{ createUrl(
            "plugins/direct",
             ({
                'plugin' : aStatPanel.className,
                'function' : 'activate',
                'sid' : aSurveyInfo.sid,
                'quota_id': qkey
             })
            ) }}"
        ><i title="Click to activate this quota" class="ri-chat-4-line"></i></a>{% else %}<a href="{{ createUrl(
            "plugins/direct",
             ({
                'plugin' : aStatPanel.className,
                'function' : 'deactivate',
                'sid' : aSurveyInfo.sid,
                'quota_id': qkey
             })
            ) }}"
        ><i title="Click to deactivate this quota" class="ri-chat-off-line"></i></a>{% endif %} <a href="{{ createUrl(
            "quotas/editQuota",
             {
                'surveyid' : aSurveyInfo.sid,
                'quota_id' : qkey
             }
            ) }}"><i title="Click to edit this quota"class="ri-edit-line"></i></a></td>{% endif %}
          </tr>
          {% endfor %}
        </tbody>
       </table>
    {% endfor %}
  </div>
</div>
