<div class="panel panel-primary">
  <div class="panel-heading quickstatpanel-title">
    <h2 class="quickstat-panel-title">{{ title }}</h2>
  </div>
  <div class="panel-body">
    <div id="chart-daily{{ type }}" class="chart-day graph jqplot-line"> </div>
    {% if showExport %}
        <a href="{{ createUrl(
            "plugins/direct",
             ({
                'plugin' : className,
                'function' : 'export',
                'sid' : aSurveyInfo.sid,
                'export' : 'dayresponse',
                'state' : type
             })
            ) }}"
        >{{ lang["Export"] }} </a>
    {% endif %}
  </div>
</div>
<script>
    $(function() {
        $.jqplot.config.enablePlugins = true;
        var dailyRate = [];
        {% set maxValue=0 %}{% set minDate='' %}{% set maxDate='' %}
        {% for key, value in aResponses %}
          dailyRate.push(['{{ key }}', {{ value}} ]);
          {% if key > maxValue %}{% set maxValue = value %}{% endif %}
          {% if minDate is empty %}{% set minDate = key %}{% endif %}
          {% set maxDate = key %}
        {% endfor %}
        {% set minDate = processString("{date('Y-m-d',strtotime('" ~ minDate ~ " -1 day'))}", 1) %}
        {% set maxDate = processString("{date('Y-m-d',strtotime('" ~ maxDate ~ " +1 day'))}", 1) %}
        {% if(aSurveyInfo.stardate and aSurveyInfo.startdate < maxDate) %}
          {% set mindate = processString("{date('Y-m-d',strtotime(" ~ aSurveyInfo.stardate ~ "))}", 1) %}
        {% endif %}
        {% if(aSurveyInfo.expires and aSurveyInfo.expires > minDate) %}
          {% set maxDate = processString("{date('Y-m-d',strtotime(" ~ aSurveyInfo.expires ~ "))}", 1) %}
        {% endif %}

       var chartdaily{{ type }}  = $.jqplot('chart-daily{{ type }}', [dailyRate], {
          animate: true,
        seriesDefaults:{
            pointLabels: {
              formatString: "%d",
            }
        },
          series:[{showMarker:true}],
           seriesColors:[quickstatpanel.seriecolor],
           highlighter: {
            show: true,
            sizeAdjust: 1,
        },
        grid:{
          background : quickstatpanel.gridcolor
        },
        rendererOptions: {
                  smooth: true
                },
          axes:{
            xaxis:{
              renderer:$.jqplot.DateAxisRenderer,
              tickRenderer: $.jqplot.CanvasAxisTickRenderer,
              tickInterval:'1 day',
              min: '{{ minDate }}',
              max: '{{ maxDate }}',
              tickOptions: {
                  angle: -45,
                  formatString:'{{ aStatPanel.jqplotDateFormat }}',
                  showMinorTicks:false
              },
            },
            yaxis:{
              tickRenderer: $.jqplot.AxisTickRenderer,
              tickOptions: {
                showMark:false,
                showGridline:false,
                showLabel:false,
              },
              pad:1.4,
              min: 0
            }
          }
      });
    });
</script>
